extends layout

append head
    link(rel="stylesheet" href="/stylesheets/404.css")

block content
    .nav-bar
        div.logo-container
            a(href="/" class="a-tag"): img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img')
            a(href='/' class="a-tag"): h1.large-font Large
    .main-body
        .error-message-box
            h1.four-error.font 404...
            img(src="https://freepikpsd.com/file/2019/11/dead-face-png-Images-300x300.png" class='dead-face')
        .game-over-box
            .img-box
                img(src='https://pngimg.com/uploads/game_over/game_over_PNG57.png' class="game-over-img")
        .small-link-box
             p.font Try again: 
                a(class='home-option font' href='/' ) Home
