extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .nav-bar
    .logo-container
      .medium-img
        img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img')
      .large-font
        h1.large-font Large
    .button-container
      if (isLoggedIn)
        form(action="/logout" method="post")
          button(class='logout-button') Log Out
      else
        a(type='button' class='login-button' href='/login') Sign In
        button(type='button' class='signup-button' href='/signup') Get Started
  .welcome-block
    .left-side-welcome
      .writing-block
        h2 Large is a place to write about videogames.
      .smaller-text
        p It's easy to bla bla bla
      .start-writing-container
        button(class='start-writing-button'): a(href="/login" class='start-writing-text') Start Writing
    .right-side-welcome
      img(src='./imgs/medium-welcome-snip.JPG' class='quote-img')
  .posts-block
    each post in posts
      .post-box
        .post-author
          p= post.User.username
        .post-title
          p= post.title
        .post-content
          p= post.content
        .post-date
          p= post.createdAt
