doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/reset.css')
        meta(property='og:title' content='Large')
        meta(property='og:image' content='https://jotterbucket.s3.amazonaws.com/8e0a9491aad24f149436d9bc72133705.png')
  body
    block content
