extends layout.pug

append head
    link(rel='stylesheet' href='/stylesheets/login.css')

block content
    .nav-bar
        img(src='https://seeklogo.com/images/M/medium-logo-F0ACFCCD58-seeklogo.com.png' class='medium-img')
        h1.large-font Large
    .login-container
        div.error-container
            ul
            if errors
                each error in errors
                    li.list=error
        form(action='/login' method='post')
            .inner-container
                input(type='hidden' name='_csrf' value=csrfToken)
                label(for='email' class='font') Email
                input(type="text" name='email' class='email-input inp' value=email)
                label(for="password" class='font') Password
                input(type='password' name='password' class='password-input inp')
            .button-container
                a(href='/' class="cancel-button-link"): button(type='button' class='cancel-button') Cancel
                button(type='submit' class='login-button') Log-In
        .demo-button-container
            form(action='/login' method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='hidden' name='email' value='demo@demo.com')
                input(type='hidden' name='password' value='demoPassword1!')
                button(class='demo-button') Demo User
        .signup-container
            p.font Don't have an account?
                a(class='signup-option font' href='/signup' ) Sign Up
    .footer
