.nav-bar {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: rgb(255,192,23);
    border-bottom: 1px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.medium-img {
    height: 25px;
}

.large-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 5px;
}

