
.nav-bar {
    display: flex;
    align-items: center;
    height: 75px;
    justify-content: space-between;
    background-color: rgb(255,192,23);
    border-bottom: 1px solid black;
}

.medium-img {
    height: 25px;
}


h1.large-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 5px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.signup-button {
    margin-right: 50px;
    height: 40px;
    width: 100px;
    min-width: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 1px;
}

.about-button {
    margin-right: 30px;
    height: 40px;
    width: 100px;
    min-width: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 1px;
    cursor: pointer;
}

.logout-button {
    margin-right: 10px;
    height: 40px;
    width: 100px;
    min-width: none;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: 1px;
}

.login-button {
    margin-right: 30px;
    font-size: 14px;
    text-decoration: none;
}

.welcome-block {
    display: flex;
    background-color: rgb(255,192,23);
    border-bottom: 1px solid black;
    min-height: 400px;
    max-height: 474px;
}

.start-writing-button {
    height: 40px;
    width: 150px;
    min-width: none;
    background-color: white;
    color: black;
    border-radius: 50px;
    border: 1px solid black;
}

.signup-button:hover,
.start-writing-button:hover,
.logout-button:hover {
    cursor: pointer;
}

.start-writing-text {
    text-decoration: none;
}

.right-side-welcome {
    display: flex;
    align-self: flex-end;
}

.quote-img {
    width: 400px;
    height: 400px;
    margin-bottom: -1px;
    margin-left: 10px;
    margin-right: 20px;
    z-index: 1;
    /* object-fit: cover; */
}

.writing-block {
    width: 600px;
}

.writing-block > h2 {
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bolder;
    z-index: 2;
}

.left-side-welcome {
    margin-left: 90px;
}

.posts-block {
    padding: 90px;
}

.post-box {
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    align-items: center;
}

.profile-img{
    width: 50px;
    margin-right: 40px;
    margin-left: 12px;
    background-color: transparent;
    border-radius: 50%;
}

.post-link {
    text-decoration: none;
}

.profile-img-small{
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgb(212, 212, 212);

}

.post-author {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    margin: 0;
}

.post-username {
    padding: 0 10px;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
}

.post-title {
    font-weight: bold;
    margin: 0;
    font-size: 22px;
}

/* .post-content-box {
    max-width: 600px;
    max-height: 100px;
} */

.post-content {
    margin-top: 8px;
    padding: 8px 0px;
    font-size: 16px;
    color: dimgray;
    margin: 0;
}

.post-footer {
    color: dimgray;
    font-size: 13px;
    margin-top: 8px;
    padding: 8px 0px;
}

.post-date {
    margin: 0;
}

.about-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.collaborator-div {
    padding: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.collaborator-name {
    font-size: large;
    font-weight: bold;
    padding: 15px;
}

.collaborator-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.icon-div {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.name-link {
    text-decoration: none;
}

.name-link:hover {
    text-decoration: underline;
}

.logo {
    text-decoration: none;
}
